*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    height: auto;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: #EACDBD;
    display: flex;
    justify-content: space-between;
}
.nav1{
    width: 150px;
    height: 100px;
    

}
.nav1 img{
    width: 100%;
    height: 100%;
}
.nav2{
    display: flex;
    gap: 60px;
    padding-right: 100px;
    align-items: center;
}
.nav2 a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.icn{
    font-size: 30px;
}
.icn2{
    display: none;
}
.images {
    width: 100%;
    height: 700px;
}
.images img{
    width: 100%;
    height: 100%;
}
.herosec{
    width: 100%;
    height: auto;
    background-color: #EACDBD;
}
.title{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 100px;
}
.title h1{
    font-size: 40px;
}
.title span{
    font-size: 25px;
}
.mainbox{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
}
.box1{
    width: 500px;
    height: 350px;
}
.box2{
    width: 500px;
    height: 350px;
}
.box3{
    width: 500px;
    height: 350px;
   
}
.img{
    width: 500px;
    height: 350px;
    position: relative;
    
}
.img2{
    width: 500px;
    height: 350px;
    position: relative;
    
}
.img3{
    width: 500px;
    height: 350px;
    position: relative;
    
}
.box1 .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;

}
.box2 .img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.box3 .img3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.img .box-1{
    width: 500px;
    height: 350px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.44);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 25px;
    
}
.img2 .box-1{
    width: 500px;
    height: 350px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.44);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 25px;
    
}
.img3 .box-1{
    width: 500px;
    height: 350px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.44);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 25px;
    
}
.main2{
    width: 100%;
    height: auto;
    background-color: #EACDBD;
}

.shake{
    width: 100%;
    height:  auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.shake1{
    width: 500px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 50px;
       background-color: rgba(128, 128, 128, 0.293);
}
.shake1 .image1{
    padding-top: 50px;
    position: relative;
     
}
.image1 img{
    padding-left: 60px;
}
.btn{
    position: absolute;
    top: 0;
    padding-top: 20px;
    padding-left: 10px;
}
.btn button{
    padding: 5px;
    border: none;
    border-radius: 50px;
}
.H1{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    
}
.H1 h1{
    font-size: 25px;
}
.bottom{
    font-size: 20px;
    display: flex;
    gap: 25px;
   justify-content: space-between;
    padding-top: 20px;
    padding-left: 60px;
}
.bottom button{
  padding-inline: 50px;
  font-size: 15px;
  color: white;
  background-color: rgb(72, 71, 71);
  font-weight: bold;
  border: none;
  border-radius: 50px;
}
.shake2{
    display: none;
}
.mainfooter{
    width: 100%;
    height: auto;
    background-color: #EACDBD;

}
.bx1{
    width: 500px;
    height: 550px;
    /* border: 2px solid red; */
    background-color: rgba(128, 128, 128, 0.256);
    border-radius: 50px;
}
.btn2 {
    width: 460px;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
}
.btn2 img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.bx{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    gap: 20px;

}
.heading{
    padding-left: 30px;
}
.btn4{
    padding-left: 30px;
    padding-top: 20px;
}
.btn4 button{
    padding-inline: 10px;
    padding-block: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.535);
    font-size: 20px;
    border-radius: 50px;
}
.bx2{
    display: none;
}
.bg{
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.line{
    width: 90%;
    height: 2px;
    background-color: white;
    margin-inline: 5%;
}
.mainline{
    width: 90%;
    height: auto;
    /* background-color: white; */
    margin-inline: 5%;
    display: flex;
    flex-direction: row;
}
.l1{
    width: 32%;
    height: 300px;
    margin-top: 20px;
}
.l2{
    width: 32%;
    height: 300px;
    margin-top: 20px;

}
.l3{
    width: 32%;
    height: 300px;
    margin-top: 20px;
}
.l4{
    width: 32%;
    height: 300px;
    margin-top: 20px;
}
.head h1{
    color: white;
}
.head span{
    color: white;
}
.head{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 100px;
}
.mainicn {
    color: white;
    display: flex;
    flex-direction: column;
}
.mainicn i{
    font-size: 30px;
}
.head1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 250px;
}
.head1 h1{
    color: white;
}
.head2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.head2 h1{
    color: white;
}
.head2 span{
    color: white;
}

.line2{
    width: 90%;
    height: 50px;
    background-color: #7F6459;
    margin-inline: 5%;
    margin-top: 10px;
    margin-bottom: 30px;

}
.SPAN{
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 500;
    padding-inline: 250px;
    font-size: 25px;
    align-items: center;
    padding-top: 5px;
}












@media (max-width: 1270px) {
    .container{
        width: auto;
    }
    .navbar{
        width: 1230px;
    }
    .nav2 a{
        font-size:25px;
    }
    .images img{
        width: 1200px;
    }
    .herosec{
        width: 1250px;
    }
    .img{
        width: 500px;
    }
    
}
@media (max-width: 1280px) and (min-width: 768px) {
    .container{
        width: 1100px;
    }
    .nav2{
  
         font-size: 10px;
        
    }
    .icn2{
        display: none;
    }
    .nav2 a{
        font-size:25px;
    }
    .images img{
        width: 1250px;
    }
    .herosec{
        width: 1250px;
    }
    .navbar{
        width: 1250px;
    }
    .herosec{
        width: 1250px;
        height: 1500px;
        background-color: #EACDBD;
    }
    .mainbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main2{
        width: 1250px;
    }
    .shake{
        width: 1250px;
        height: 1200px;
        background-color: #EACDBD;
    }
    .shake2{
    width: 500px;
    height: 520px;
    display: flex;
    gap: 5px;
    border-radius: 50px;
       background-color: rgba(128, 128, 128, 0.293);
}
.shake2 .image2{
    padding-top: 50px;
    position: relative;
     
}
.image2 img{
    padding-left: 60px;
}

.footer{
    width: 1250px;
}
.bx2{
    width: 500px;
    height: 550px;
    /* border: 2px solid red; */
    background-color: rgba(128, 128, 128, 0.256);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}
.btn3{
    width: 460px;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
}
.btn3 img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.footer2{
    width: 1250px;
}

}
@media (max-width: 768px) and (min-width: 358px) {
    .nav2 a{
  
       display: none;
       font-size: 25px;
        
    }
    .nav2{
        padding-right: 50px;
        display: flex;
        gap: 20px;
    }
    .nav2 i{
        font-size: 20px;
    }
    .icn2{
        display: flex;
        align-items: center;
        padding-top: 5px;

    }
    .images img{
        width: 1350px;
    }
    .herosec{
        width: 1350px;
    }
    .navbar{
        width: 1350px;
    }
    .mainbox{
        height: 1600px;
        background-color: #EACDBD;
        width: 1350px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        
    }
    .main2{
        width: 1350px;
    }

    .box1{
        width: 750px;
         height: 200px;

    }
    .box1 .img{
        width: 750px;
        height: 400px;
    }


    .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

   .box1 .box-1{
         width: 750px;
         height: 400px;  
         display: flex;
         flex-direction: column;
         gap: 10px;
    }
    .box-1{
         width: 750px;
         height: 400px;  
         display: flex;
         flex-direction: column;
         gap: 10px;
         font-size: 25px;
    }
    .box2{
        width: 750px;
         height: 200px;

    }
    .box2 .img2{
        width: 750px;
        height: 400px;
    }


    .img2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

   .box2 .box-1{
         width: 750px;
         height: 400px;  
   }
    .box3{
        width: 750px;
         height: 400px;

    }
    .box3 .img3{
        width: 750px;
        height: 400px;
    }


    .img3 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

   .box3 .box-1{
         width: 750px;
         height: 400px;  
    }
    .shake{
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
 /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        padding-inline: 150px;

    }

    .shake1{
     width: 520px;
    height: 580px;
    margin-right: 150px;
    }
    .title{
        padding-right: 150px;
    }

    .footer{
    width: 1350px;
}
.bx{
    display: flex;
    flex-direction: column;
    padding-left: 370px;
}
.footer2{
width: 1350px;
}

}

